/*################ ESTILOS BASE #################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: white;
}

.container {
    margin: auto;
    /*flex box*/
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    display: -ms-flexbox;
}


/*################ ENCABEZADO #################*/

.encabezado {
    background-color: #253b80;
    width: 100%;
    padding: 0;
    margin: 0;
    /*Flexbox*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: raw;
    flex-wrap: wrap;
}

.encabezado a {
    color: white;
    text-decoration: none;
    padding: 25px 0px;
    font-weight: 800;
    font-size: 25px;
}

.logo {
    height: 40px;
    border: white 2px solid;
    padding: 0;
    margin-top: 7px;
}

.encabezado a:hover {
    color: #253b80;
    background: white;
    cursor: pointer;
}


/*################ PIE DE PAGINA #################*/

.pie-pagina {
    background: #253b80;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pie-pagina a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 15px;
    padding: 0px 0px;
    margin-top: 12px;
}

.pie-pagina a:hover {
    color: #999;
    cursor: pointer;
}

.copy-right {
    color: #999;
    margin-top: 6px;
}

.icon i {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #253b80;
    color: white;
    text-align: center;
    line-height: 35px;
}

.icon:hover i {
    color: #253b80;
    background: white;
    cursor: pointer;
}


/*################ ARTICULOS #################*/

.contenido {
    display: flex;
}

.articulos {
    flex-direction: row;
    display: flex;
    width: 95%;
}

.articulos article {
    background: white;
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
    text-align: justify;
    padding-bottom: 1rem;
    overflow: hidden;
}

.imagen img {
    left: 100;
    top: 100;
    width: 70%;
    max-width: 220px;
    margin: 2rem;
}

.description_general {
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 90%;
    color: rgba(0, 0, 0, 0.9);
}

.subtitulo {
    font-size: 25px;
    font-weight: 800;
    width: 100%;
    padding: 0;
    margin: 1rem 2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.container h2 {
    margin: 0 auto;
    font-size: 22px;
    font-weight: 600;
    margin: 1rem 0rem;
}

.container h2:hover {
    color: #253b80;
    cursor: pointer;
}

.vista {
    width: 100%;
    margin: 1rem 0rem;
    letter-spacing: 0.20rem;
    font-size: 15px;
    font-weight: 200;
}

.vista i {
    margin-right: 0.50rem;
}

.fecha {
    font-size: 15px;
    font-weight: 200;
    margin: 1rem 0rem;
}

.Actividad {
    color: blue;
}

.button {
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
    text-align: justify;
    padding-bottom: 4rem;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    flex-flow: row nowrap;
}

.mas {
    cursor: pointer;
    background-color: white;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    padding: 20px 60px;
    border: #253b80 solid 2px;
    border-radius: 5px;
}

.mas:hover {
    background-color: #253b80;
    color: white;
    cursor: pointer;
}


/*################ ASIDE #################*/

.aside {
    flex: 1 1 auto;
    padding: 50px;
    height: 12%;
}

.search {
    flex: 1 1 auto;
    margin: 10px 10px 20px 10px;
    padding: 10px;
}

.search input[type="text"] {
    border: none;
    border-bottom: 2px solid #253b80;
    background-color: transparent;
    width: 100%;
    font-size: 15px;
    font-weight: 200;
}

.search a {
    color: #253b80;
}

.calendario {
    flex: 1 1 auto;
    margin: 10px 10px 200px 10px;
    padding: 5px;
}

.noticias-populares {
    flex: 2 1 auto;
}

.noticias-populares h3 {
    color: #253b80;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #253b80;
    margin-bottom: 40px;
}

.noticias-populares h4 {
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.noticias-populares p {
    font-size: 15px;
    text-align: justify;
    font-weight: 100;
    margin-bottom: 10px;
}